{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "prettier/@typescript-eslint",
    "plugin:prettier/recommended",
    "plugin:vue/recommended"
  ],
  "rules": {
    "@typescript-eslint/no-non-null-assertion": 0
  }
}